name: Go Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: API Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './exercises/Go/go.mod'
          cache-dependency-path: './exercises/Go/go.sum'
      - run: make build
        working-directory: './exercises/Go'

  lint:
    name: API Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './exercises/Go/go.mod'
          cache-dependency-path: './exercises/Go/go.sum'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: 'latest'
          working-directory: './exercises/Go'

  test:
    name: API Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './exercises/Go/go.mod'
          cache-dependency-path: './exercises/Go/go.sum'
      - run: make init
        working-directory: './exercises/Go'
      - run: make db/migrations/up
        working-directory: './exercises/Go'
      - run: make test/cov/report
        working-directory: './exercises/Go'
